  /* 기본 폰트 */
  @font-face {
    font-family: 'Paperlogy-4Regular'; /* 기본 폰트 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* 굵은 폰트 */
@font-face {
    font-family: 'Paperlogy-6SemiBold'; /* 굵은 폰트 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

/* 전체에 기본 폰트 설정 */
* {
    font-family: 'Paperlogy-4Regular';
    
}

  /* 컨텐츠 영역 레이아웃 관련 스타일 */
  .content {
    justify-content: center; /* 수평 중앙 정렬 */
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    min-height: calc(100vh - 390px); /* 화면 전체 높이에서 헤더와 푸터 높이 제외 */
    padding: 30px 0px 30px 0px;
    box-sizing: border-box;
  }