/* 기본 폰트 설정 */
@font-face {
    font-family: 'Paperlogy-4Regular'; /* 기본 폰트 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-6SemiBold'; /* 굵은 폰트 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: 'Paperlogy-4Regular';
}


/* body 기본 스타일 */
body {
    padding: 100px; /* 화면 상단과 좌우 패딩 */
    text-align: center; 
}

/* 로고 이미지 반응형 스타일 */
.img-fluid {
    margin-top: 70px; 
    max-width: 50%; 
    height: auto; 
    object-fit: contain; 
    margin: auto; /* 가운데 정렬 */
    display: block; /* 블록 요소로 설정 */
}
/* 로그인 제목 */
.login_text {
    font-family: 'Paperlogy-6SemiBold';
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* 로그인 폼 컨테이너 */
.form-container {
    text-align: center; /* 내부 텍스트 가운데 정렬 */
    margin: 0 auto; /* 가로 중앙 정렬 */
    margin-top: 50px; 
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 500px; 
    height: 480px; 
    padding: 30px; 
    border: 1px solid #D9D9D9; 
    border-radius: 10px; 
    background-color: #fff; 
}

/* 입력 필드 */
.form-control {
    height: 50px;
    width: 69%;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    height: 44px; 
}

/* 로그인 버튼 */
.login_btn {
    background-color: black; 
    color: #fff;
    border: none;
    width: 69%;
    height: 44px;  
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}
.login_btn:hover {
    background-color: #333;
}


/* 구분선 */
.separator {
    text-align: center;
    color: #6c757d;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.separator::before,
.separator::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 1px;
    background: #ddd;
    transform: translateY(-50%); /* 세로 정렬 */
}

.separator::before {
    left: 70px;
}

.separator::after {
    right: 70px;
}



/* 회원가입 링크 */
.register-link {
    color: #5a6268;
    font-size: 14px;
    text-decoration: none;
}


